@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/geologica');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

body::-webkit-scrollbar {
  width: 12px;      
}

body::-webkit-scrollbar-track {
  background: #1a1a1a;       
}

body::-webkit-scrollbar-thumb {
  background-color: #8257e5;
  border-radius: 20px;   
  border: 3px solid #1a1a1a ;  
}

#top-side {
  background-color: #1a1a1a;
  width: 100vw;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#text-mid {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  color: #ffffff;

}

#top-text-mid {
  width: 100%;
  font-size: 42pt;
  font-family: 'Source Code Pro', monospace;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

#mid-text-mid {
  font-size: 128pt;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  font-family: 'Geologica', sans-serif;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#bottom-text-mid {
  font-size: 38pt;
  font-family: 'Source Code Pro', monospace;
}

@media only screen and (max-width: 600px) {
  #text-mid {
    width: 90%;
    height: 60%;
  }

  #top-text-mid {
    font-size: 30pt;
  }

  #mid-text-mid {
    font-size: 100pt;
  }

  #bottom-text-mid {
    font-size: 24pt;
  }
}

#redes {
  width: 170px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

#redes a {
  fill: white
}

section {
  width: 100vw;
  height: 100vh;
}